.header{ 
    
        box-shadow: 0px 12px 28px 0px rgba(140, 149, 159, 0.3);
        width: 100%;
        height: 112px!important;
       

    
   
    img{
    width: 80px;
    height: 95px;
    top: 8px;
    left: 56px;
    
    
}

a{
    /* width: 548px!important;
    height: 42px; */
    top: 19px;
    left: 182px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
   color: #293E6F;
  

   
     
}
span{
    /* width: 548px;
    height: 42px; */
    top: 52px;
    left: 182px;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #293E6F;



}

}
.hero{
    width: 100%;
    height: 408px;
    background-image: url(../img/c041953bc8e2e1748c7dea48b320b9eb.png);
    /* background-repeat: no-repeat; */
    background-size: contain;
    background-position: center;
    text-align: center;
    padding-top: 10%;
    

    h2{
        text-align: center;
        font-family: Poppins;
        font-size: 29px;
        font-weight: 700;
        line-height: 44px;
        letter-spacing: 0em;
       color: #788094;

    }
    h6{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        color: #788094;

    }
    
    .btn{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        background: #10B65C;
        padding-bottom: 21px;   
        width: 235px;
        height: 45px;
        top: 385px;
        left: 712px;
       
       
    }
}
.main{
    border-radius: 10px;
}
.mainu{
    margin-top: 5%;
    .btn{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;
        color: #fff;
        background: #10B65C;
        padding-bottom: 21px;   
        width: 235px;
        height: 40px;
        top: 385px;
        left: 712px;
       border-radius: 10px;
       margin-left: 25%;
    }
    input{
        width: 405px;
        height: 55px;
        top: 409px;
        left: 136px;
        border-radius: 14px;
        /* box-shadow: 0px -25px 20px -20px rgba(0, 0, 0, 0.45), 25px 0 20px -20px rgba(0, 0, 0, 0.45), 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45); */
        margin-left: 55px;
    }
    h3{
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;

    }
    th{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: center;

    }
   
    
    td{
        width: 667px;
        height: 34px;
        top: 249px;
        left: 707px;
        border-radius: 14px;
        text-align: center;
        color: #10B65C;

    }
    /* table{
        box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);     
    } */
    .maine{
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);        padding: 20px;
        h4{
            padding-bottom: 3%;
            font-family: Poppins;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
            
        }        
       
        p{
            font-family: Poppins;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: justified;
           

        }
    }
    div{
        font-family: Poppins;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: 0em;
        text-align: left;
        color: #081466;
      
    }
    .hero-1{
        text-align: right;
        div{
            font-family: Poppins;
           font-size: 18px;
           font-weight: 500;
           line-height: 27px;
           letter-spacing: 0em;
           text-align: right;
           color: #081466;
        }
        span{
            /* width: 29px;
            height: 25px; */
            padding-left: 5px;
            padding-right: 5px;
            padding-top: 0;
            padding-bottom: 0;
            top: 298px;
            left: 899px;
            background-color: #10B65C;
            border-radius: 50%;


        }
    }
    .maine-2{
        .btn{
            width: 312px;
            height: 70px;
            top: 178px;
            left: 1024px;
            border-radius: 14px;
            background: #081466;

            font-family: Poppins;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: center;
            color: #EBEEFD;
        }
    }
    .mainu-3{
        p{
            font-family: Poppins;
            font-size: 22px;
            font-weight: 400;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: justified;

        }
    }

   .my-12{
    width: 44px;
    height: 40px;
    top: 421px;
    left: 1056px;
    background: #081466;

    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    
    
    

   }    
   .my-13{
    width: 44px;
    height: 40px;
    top: 421px;
    left: 1056px;
    background: #fff;
     margin-top: 20px;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color:  #081466;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
    

   }  
   
   .my-14{
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 30px;

   }

   .my-17{
    font-family: Poppins;
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
    p{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: justified;



    }
    div{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0em;
        text-align: justified;
    }

   }
   .my-18{
    .btn-2{
        width: 156px;
        height: 45px;
        top: 139px;
        left: 1021px;
        border-radius: 14px;
        background: #10B65C;
        border: #10B65C 2px solid;
        color: #fff;
        font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: justified;


    }
    .btn-3{
        font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: justified;

        width: 156px;
        height: 45px;
        top: 139px;
        left: 1021px;
        border-radius: 14px;
        background: #293E6F;

        border: #293E6F 2px solid;
        color: #fff;

    }
   }
   .btn-4{
    width: 135px;
    height: 45px;
    top: 530px;
    left: 731px;
    border-radius: 14px;
    border: #fff 2px solid;
    color: #000;
    background: #FFFFFF;
    font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: justified;


    
   }

   .form-check{
    width: 139px;
    font-family: Poppins;
    font-size: 11px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
    width: 97px;
    height: 21px;
    top: 544px;
    left: 944px;
   

   }
   .btn-6{
    width: 139px;
    height: 45px;
    top: 532px;
    left: 1064px;
    border-radius: 14px;
    border: #10B65C 2px solid;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
     color: #fff;
    background: #10B65C;

   }
   .btn-7{
    width: 139px;
    height: 45px;
    top: 532px;
    left: 1064px;
    border-radius: 14px;
    border: #10B65C 2px solid;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: justified;
     color: #fff;
    background: #10B65C;

   }
   .my-20{
    width: 606px;
height: 196px;
top: 657px;
left: 750px;
border: 0.5px;

   }
   .my-21{
    font-family: Poppins;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: justified;

   }
   .my-22{
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

   }
   .btn-5{
    width: 140px;
height: 45px;
top: 157px;
left: 1083px;
border-radius: 14px;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: justified;
color: #fff;
background-color: #10B65C;
border: #10B65C 2px solid;

   }
   .btn-9{
    width: 130px;
height: 45px;
top: 157px;
left: 1240px;
border-radius: 14px;
background: #293E6F;
border: #293E6F 2px solid;
color: #fff;
font-family: Poppins;
font-size: 14px;
font-weight: 500;
line-height: 21px;
letter-spacing: 0em;
text-align: justified;
margin-left: 50px;



   }
   .my-23{
    /* width: 656px; */
    height: 65px;
    margin-top: 23px;
    padding-top: 15px;
    left: 74px;

    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
background-color: #fff;
padding-left: 8px;
padding-right: 18px;
box-shadow: 20px 0 20px -20px #293E6F inset;
/* margin-bottom: 75px; */
   }

   .my-24{
    p{
        font-family: Poppins;
        font-size: 19px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: justified;
        width: 500px;
        height: 580px;
        top: 357px;
        left: 60px;
    }
    /* p{
        font-family: Poppins;
        font-size: 19px;
        font-weight: 300;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: justified;
        width: 500px;
        height: 580px;
        top: 357px;
        left: 60px;
    } */
   }
   .my-25{
    h4{
        font-family: Poppins;
font-size: 18px;
font-weight: 600;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
padding-top: 5%;

    }
    p{
        font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

    }

    .btn-10{
        width: 133px;
height: 45px;
top: 755px;
left: 1016px;
border-radius: 14px;
background: #293E6F;
color: #fff;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
text-align: center;
border: #293E6F 2px solid;


    }
    .btn-11{
        width: 133px;
height: 45px;
top: 755px;
left: 1016px;
border-radius: 14px;
background: #10B65C;
border: #10B65C 2px solid;
color: #fff;
font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
text-align: center;


    }
   }
}
.my-27{
    /* padding-top: 20px; */
    text-align: center;
    h2{
        font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: center;
    }
    h1{
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: center;

    }
    img{
        width: 190px;
        height: 95px;
        top: 26px;
        left: 806px;

    }
   
}

.my-28{
    /* width: 650px; */
height: 42px;
top: 187px;
left: 70px;
border-radius: 14px, 14px, 0px, 0px;
background-color: #081466;
font-size: 70px;
text-align: center;
h4{
    color: #fff;
    padding: 10px;
    text-align: center;
    font-family: Poppins;
font-size: 18px;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;

}

  }

  .my-29{
    p{
        font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
     color: #000;
    
    }
}
 
.my-30{
    /* width: 288px; */
height: 42px;
top: 187px;
left: 731px;
border-radius: 14px, 14px, 0px, 0px;
background-color: #081466;

h2{
    padding-top: 10px;
    color: #fff;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

}

}
.my-31{
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
    img{
        width: 252px;
    height: 131px;
    top: 295px;
    left: 746px;
    
    }
    p{
        
    }
}
.my-32{
    text-align: center;
    margin-left: 15%;
    p
        {
            padding-top: 2%;
            font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
        width: 266px;
        height: 68px;
        top: 470px;
        left: 741px;
       
        
        }
    }
.my-33{
    img{
        width: 233px;
height: 213px;
top: 717px;
left: 141px;
border-radius: 176px;

    }
    p{
        font-family: Poppins;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
padding-top: 8px;

    }
}
.my-35{
    h2{
        font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
padding-left: 22px;
    }
}
.my-34{
   
    img{
        width: 1100px;
height: 157px;
top: 1515.7px;
/* left: 113px; */

    }
}
.my-36{
    border-radius: 10px;
    h2{
        padding: 8px;
        font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

    }
}
.my-36{
    h2{
        font-family: Poppins;
font-size: 24px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

    }
    img{
        width: 632px;
height: 385px;
top: 416px;
left: 128px;

    }
}
.my-37{
    margin-left: 40px;
    width: 500px;
    height: auto;
    padding: 40px;
   img{
    width: 400px;
    height: 350px;
    top: 412px;
    left: 895px;
    border-radius: 207px;
    text-align: center;
    /* margin-left: 40px; */
   }
   h2{
    padding-left: 10px;
    font-family: Poppins;
    padding-top: 8%;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

   }
   p{
    font-family: Poppins;
    margin-left: 10px;
font-size: 16px;
font-weight: 300;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
color: #000;
   }

}
.my-39{
    div{
        font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;

    }
}
.my-40{
    div{
        font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #CAC7E7;
    }
}
.my-41{
    width: 41px;
height: 5px;
top: 193px;
left: 475px;




    div{
        font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
color: #293E6F;
        border-bottom: 2px #293E6F solid;
    }
}
body{
    font-family: Poppins;
}
.my-45{
    .btn-8{
        width: 243px;
height: 53px;
top: 33px;
left: 877px;
border-radius: 14px;
background: #10B65C;

font-size: 19px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;



    }
}
.my-44{
    h2{
        font-family: Poppins;
font-size: 35px;
font-weight: 600;
line-height: 53px;
letter-spacing: 0em;
text-align: center;

    }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
  
}

.my-46{
    margin-left: 50px;
   
width: 241px;
height: 216px;
top: 272px;
left: 591px;
border-radius: 14px;

.material-symbols-outlined{
    width: 95px;
    height: 35px;
    font-size: 85px;
    margin-top: 50px;
}

}
.my-47{
    padding-top: 5px;
    background-color: #293E6F;
    color: #fff;
    height: 48px;
    top: 281px;
    h6{
        font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
padding-left: 20px;

    }
}
.my-48{
    /* width: 251px; */
height: 48px;
top: 281px;


    h6{
        font-family: Poppins;
        padding-top: 5px;
        padding-left: 20px;
font-size: 18px;
font-weight: 500;
line-height: 27px;
letter-spacing: 0em;
text-align: left; 
    }
}
.my-49{
    /* width: 364px; */
    margin-left: 2%;
height: 215px;
top: 335px;
left: 492px;
border-radius: 14px;
h2{
    text-align: center;
    font-family: Poppins;
font-size: 19px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;


}

}
.my-50{
    margin-top: 20px;
    h3{
        font-family: Poppins;
font-size: 40px;
font-weight: 400;
line-height: 60px;
letter-spacing: 0em;
text-align: center;
color: #000;

    }
    p{
        font-family: Poppins;
font-size: 19px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

    }
}
.my-51{
    .btn-14{
       

    }
    button{
        width: 243px;
height: 53px;
top: 756px;
left: 1088px;
border-radius: 14px;
background: #10B65C;
color: #fff;
border: #10B65C 2px solid;
font-family: Poppins;
font-size: 19px;
font-weight: 400;
line-height: 29px;
letter-spacing: 0em;
text-align: center;

    }
}
.my-54{
    h2{
        font-family: Poppins;
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
padding-left: 20px;

    }
}
.my-55{
    width: 550px;
height: 139px;
top: 326px;
left: 120px;
border: 0.5px;

}
.my-56{
    h2{
        font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;

    }
}
.my-58{
    .btn-15{
      


    }
    .material-symbols-outlined{
        background-color: #10B65C;
        color: #fff; 
        width: 34px;
        height: 34px;
        top: 755px;
        padding: 4px;
        left: 134px;
        border-radius: 50%;
       
       

    }
}
.my-56{
    label{
        font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;

    }

}
.mb-57{
    label{
        font-family: Poppins;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: justified;
padding-left: 55px;

    }
   
}
.my-60{
    h2{
        font-family: Poppins;
font-size: 24px;
font-weight: 400;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
padding-left: 20px;
padding-top: 10px;

    }
}
  .my-61{
    width: 530px;
height: 684px;
top: 175px;
left: 136px;
border-radius: 14px;

  }  
  .my-62{
    width: 1211px;
height: 311px;
top: 196px;
left: 136px;
border-radius: 14px;

  }
  table {

    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45), -25px 0 20px -20px rgba(0, 0, 0, 0.45);
    border-radius: 32px;
    border: 0;
    overflow: hidden;
    
}
